*.kicad_prl
*.kicad_sch_old
*.kicad_pcb_old
fabriaction-toolkit-options.json
fp-info-cache
/jlcpcb/gerber
/production/backups
neoheart_v2-backups
neoheart-v1
neoheart_v2.1
NeoHeart-backups
neoheart.blend
